
@{
    ViewBag.Title = "Dashboard";
}

<h2>Dashboard</h2>

<h4>Welcome @Session["UserName"]</h4>
<script type="text/javascript">
    function preventBack() { window.history.forward(); }
    setTimeout("preventBack()", 0);
    window.onunload = function () { null };
</script>

